env
**/*.pyc
node_modules/
build
.gitignore-disabled
/staticfiles
/mediafiles
/media
/frontend
db.sqlite3
google-ads.yaml
Pipfile
#easysocialads/social_settings_dev.py
src/environmentVariablesHeroku.js
frontend.zip

*.log
*.pot
*.pyc
__pycache__

# Temp eslintrc.json
tempeslintrc.txt